body {
	background-color: lightgray;

}
p {
	font-size: 1.3em;
}

container {
	
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	padding: 3%;
}

.contain-top {
	background-color: white;
	padding: 2%;
	margin-bottom: 4%;	
 }
.contain-button {
	display: flex;
	align-content: left;
}
button {
  color: white;
  border: none;
  width: 200px;
  height: 80px;
  margin: 0 10px;
  font-size: 2em;
   
}
.red-button button {
	background: red;		
}
.blue-button button {
	background: dodgerblue;
}
.contain-bot {
	background-color: white;
	padding: 2%;
	margin-bottom: 4%;
}
.insert-image {
	background: darkslategray;
	width: 100%;
	height: 600px;
	color: white;
	text-align: center;
	font-size: 50px;
	line-height: 600px;
}
footer {
	background: #222;
	width: 100%;
	height: 60px;
	position: fixed;
	bottom: 0;
	text-align: right;
	
}

ul {
	padding-right: 3%;
}
li {
  color: whitesmoke;
    font-size: 1.3em;	
  display: inline;
  padding: 3%;
}
a{
	color:white;	
	text-decoration: none;
}
a:hover{
	
}

a:visited{
	
}


